<header>
    <h1>Panel de Control</h1>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/devices">Dispositivos</a></li>
            <li><a href="/services">Servicios</a></li>
        </ul>
    </nav>
</header>
